<div *ngIf="users" class="container">
  <div class="user-switcher">
    <button *ngFor="let user of users; let index = index" (click)="selectUser(index)" [disabled]="selectedUser === user">
      {{ user.username }}
    </button>
  </div>
  <div class="counter" *ngIf="selectedUser">
    <button (click)="decreaseCounter(selectedUser, _store)">-</button>
    <span>{{ counter.value }}</span>
    <button (click)="increaseCounter(selectedUser, _store)">+</button>
    <div *ngIf="selectedUser.permissions.length">
      <p>List of permissions:</p>
      <ul>
        <li *ngFor="let permission of selectedUser.permissions;">{{ permission.type }}</li>
      </ul>
    </div>
  </div>
  <div>
    <span class="error-message" *ngIf="counter.error">{{ counter.error }}</span>
  </div>
</div>
