<div *ngIf="users" class="container">
  <div class="user-switcher">
    <button *ngFor="let user of users; let index = index" (click)="selectUser(index)" [disabled]="selectedUser === user">
      {{ user.username }}
    </button>
  </div>
  <div class="counter">
    <button (click)="decreaseCounter(selectedUser)">-</button>
    <span>{{ counter.value }}</span>
    <button (click)="increaseCounter(selectedUser)">+</button>
  </div>
  <div>
    <span class="error-message" *ngIf="counter.error">{{ counter.error }}</span>
  </div>
</div>
